<style>
  a {
  color: white;
  }
  h1 {
    color: blue;
    font-size: 16px;
    font-family: helvetica;
  }
  ul li {
    background-color: black;
  }
  ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }
  div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
  }

  .page1 {
    background-image: url(" ");
  }

  .page2 {
    background-color: red;
  }

  .page3 {
    background-color: purple;
  }

</style>
