<style>
  a {
  color: white;
  }
  h1 {
    color: blue;
    font-size: 16px;
    font-family: helvetica;
  }
  ul li {
    background-color: black;
  }
  ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

.about {
  background-image: url("http://static.asiawebdirect.com/m/bangkok/portals/bali-indonesia-com/shared/teasersL/magazine/bali-must-see-temples/teaserMultiLarge/image/bali-must-see-temples-L.jpg");
}

.portfolio {
  background-color: red;
}

.contact {
  background-color: purple;
}
</style>
